*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;   
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    width: 500px;
    height: auto;
    padding: 30px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: rgba(18, 29, 37, 0.488);
    
}

.container h1{
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
}

.input-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.todo-input{
    flex:1;
    outline: none;
    padding: 10px 10px 10px 20px;    
    border-radius: 50px;  
    border: 0;  
    background-color: rgba(251, 253, 255, 0.882);
    font-size: inherit;
    margin-right: 20px;
}

.todo-input:hover{
    opacity: 0.9;
}

.add-button{
    color: rgba(255, 255, 255, 0.955);
    border:none;
    outline: none;
    background:rgba(255, 255, 255, 0.622);
    font-size: 35px;
    cursor: pointer;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.add-button:hover{
    color: rgba(158, 211, 178, 0.603);
    background:rgba(65, 65, 65, 0.601);
}

.empty-image{
    width: 200px;
    height: 200px;
    margin: 60px auto 0;
    display: block;
}

.quote-container .text{
    position: relative;
    color: #fff;
    font-size: 23px;
    font-weight: 200; 
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    margin: 0 auto;
    margin-top: 40px;
    width: 100%;    
    text-align: center; 
    white-space: nowrap;
    overflow: hidden;
    width: 18em;
    transform: translateY(-50%);
}

.anim-typewriter{
    animation: typewriter 5s steps(44) 2s infinite,
    blinkTextCurser 500ms steps(44) infinite;
}

@keyframes typewriter{
    0% {
        width: 0;
    }
    50% {
        width: 18em;
    }
    100% {
        width: 18em;
    }
}

@keyframes blinkTextCurser{
    from{
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.todo{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgba(65, 65, 65, 0.742);
    color: #fff;
    border-radius: 50px;
    margin: 10px 0;
    padding: 10px 12px;
    font-size: 16px;
    position: relative;
}

.todo:first-child{
    margin-top: 0;
}

.todo:last-child{
    margin-bottom: 0;    
}

.todo:hover{
    background-color: rgba(158, 211, 178, 0.603);
}

.todo label{
    cursor: pointer;
    width: fit-content;
    display: flex;
    align-items: center;
}

.todo span{
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

span::before{
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: -30px;
    border-radius: 100px;
    border: 1px solid #fff;
}

input[type='checkbox']{
    visibility: hidden;
}

input:checked+span{
    text-decoration: line-through;
}

.todo:hover input:checked+span::before, input:checked+span::before{
    background-color: #fff;
}

.todo .delete-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.622);
    font-size: 25px;
    right: 55px;
}

.todo .delete-btn:hover{
    color: rgba(215, 124, 124, 0.726)
}


.todo-container{
    height: 400px;
    overflow: overlay;
}

.todo-container::-webkit-scrollbar{
    width: 0;
}

.todo-container:hover::-webkit-scrollbar-track{
    width: 7px;
}
